@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html,
body {
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    ::-webkit-scrollbar-thumb {
      background-color: #42b983;
      border-radius: 3px;
      outline: 1px solid slategrey;
    }
}

footer {
    position: relative;
    padding-top: 30px;
    width: calc(100vw - 60px);
    box-sizing: border-box;
    text-align: center;
    a {
        background-color: #2c3e50;
        color: #42b983;
        padding: 0 10px;
        border-radius: 2px;
        transition: .3s ease-in-out;
    }
    &:hover {
        a {
            color: #2c3e50 !important;
            font-weight: bold;
            background-color: #42b983
        }
    }
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'DM Serif Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #f3f3f3;
    color: #2c3e50;
    padding: 30px;
    box-sizing: border-box;
    a {
        color: #42b983;
        text-decoration: none;
    }
    .homepage {
        h1{
            font-size: 80px;
            margin-bottom: 0;
        }
        .source {
            font-size: 10px;
            position: relative;
            margin-bottom: 30px;
            width: calc(100vw - 60px);
            box-sizing: border-box;
            text-align: center;
            a {
                background-color: #2c3e50;
                color: #42b983;
                padding: 0 10px;
                border-radius: 2px;
                transition: .3s ease-in-out;
            }
            &:hover {
                a {
                    color: #2c3e50 !important;
                    font-weight: bold;
                    background-color: #42b983
                }
            }
        }
        h2, h4 {
            font-family: 'Nunito', sans-serif;
        }
        .categories {
            display: flex;
            justify-content: space-between;
            transition: .3s ease-in-out;
            @media (max-width: 1024px) {
                background-color: transparent;
                display: block;
                border-top: 1px solid rgba(0, 0, 0, .15);
                border-bottom: 1px solid rgba(0, 0, 0, .15);
            }
            a {
                display: inline-flex;
                justify-content: center;
                padding: 10px;
                text-transform: capitalize;
                background-color: #42b983;
                color: #f3f3f3;
                width: 200px;
                height: 200px;
                font-size: 25px;
                line-height: 180px;
                transition: .3s ease-in-out;
                box-sizing: border-box;
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
                @media (max-width: 1024px) {
                    background-color: #f3f3f3;
                    color: #2c3e50;
                    height: 100px;
                    font-size: 22px;
                    display: inline-block;
                    text-align: center;
                    padding: 0;
                    line-height: 100px;
                    box-sizing: content-box;
                    overflow: hidden;
                }
                &:hover {
                    background-color: #f3f3f3;
                    font-weight: bold;
                    font-size: 30px;
                    padding: 10px 50px;
                    color: #2c3e50;
                    @media (max-width: 1024px) {
                        padding: 0;
                        font-size: 25px;
                        line-height: 94px;
                    }
                }
            }
        }
        .headlines {
            h6 {
                margin: 10px 0 5px;
                display: inline;
                margin-right: 20px;
                &:after {
                    content: ',';
                }
                &:last-child:after {
                    content: '.';
                }
            }
        }
    }
    .category {
        display: flex;
        flex-flow:row wrap;
        > a, h1, h3 {
            width: 100%;
        }
        > h3 {
            font-family: 'Nunito', sans-serif;
            margin-bottom: 0;
        }
        > h1 {
            text-transform: capitalize;
            margin-top: 0;
        }
        .router-link-active {
            display: inline-block;
            background-color: #42b983;
            color: #2c3e50;
            width: 200px;
            height: 50px;
            margin: 0 auto;
            line-height: 50px;
            border-radius: 10px;
            transition: .3s ease-in-out;
            &:hover {
                background-color: #f3f3f3;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .loader {
            position: relative;
            margin-top: calc(50vh - 150px);
            width: 100%;
            text-align: center;
            .pulser {
                position: absolute;
                bottom: -40px;
                left: calc(50% - 50px);
                background-color: #42b983;
                opacity: .5;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                animation: alternate pulse 1s infinite;
            }
            @keyframes pulse {
                from {
                    transform: scale(1);
                    box-shadow: 0 0 15px rgba(0,0,0,.75);
                }
                to {
                    transform: scale(.5);
                    box-shadow: 0 0 5px rgba(0,0,0,.75);
                }
            }
        }
        .news-container {
            width: 100%;
            @media (min-width: 768px) {
                padding-left: 7px;
            }
            .news {
                width: 100%;
                margin-bottom: 10px;
                overflow: hidden;
                &:hover {
                    @media (min-width: 550px) {
                        .article-image {
                            transition: 2s ease-in;
                            transform: scale(1.1);
                        }
                    }
                    @media (min-width: 1024px) {
                        .article-text {
                            transition: .3s ease-in;
                            background-color: #000000 !important;
                        }
                    }
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: calc((100% / 2) - 10px);
                    margin: 0 0 10px 0;
                }
                @media (min-width: 1024px) and (max-width: 1980px) {
                    width: calc((100% / 3) - 10px);
                    margin: 0 0 10px 0;
                }
                @media (min-width: 1981px) {
                    width: calc((100% / 4) - 30px);
                    margin: 0 10px 30px 0;
                }
                .article {
                    border: 1px solid transparent;
                    border-radius: 5px;
                    overflow: hidden;
                    &:hover {
                        @media (min-width: 550px) and (max-width: 1023px) {
                            .article-text {
                                transition: .3s ease-in-out;
                                opacity: 0;
                            }
                        }
                    }
                    &-link {
                        position: relative;
                        display: block;
                        .article-image {
                            width: 100%;
                            vertical-align: bottom;
                        }
                        img[data-src] {
                            filter: blur(.2em);
                        }
                        img {
                            filter: blur(0);
                            transition: filter .5s;
                        }
                        .article-text {
                            position: relative;
                            z-index: 1;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: auto;
                            text-align: left;
                            padding: 10px;
                            background-color: rgba(0,0,0,.75);
                            color: #f3f3f3;
                            box-sizing: border-box;
                            @media (min-width: 550px) and (max-width: 1023px) {
                                position: absolute;
                            }
                            @media (min-width: 1024px) {
                                position: relative;
                            }
                            &-content {}
                            &-description {}
                            &-author {
                                font-size: 10px;
                                margin-right: 10px;
                                font-family: 'Nunito', sans-serif;
                            }
                            &-date {
                                font-size: 10px;
                                font-family: 'Nunito', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}
