@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$primary: #2c3e50;
$secondary: #42b983;
$white: #f3f3f3;

html,
body {
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    ::-webkit-scrollbar-thumb {
      background-color: $secondary;
      border-radius: 3px;
      outline: 1px solid slategrey;
    }
}

footer {
    position: relative;
    padding-top: 30px;
    width: calc(100vw - 60px);
    box-sizing: border-box;
    text-align: center;
    a {
        background-color: $primary;
        color: $secondary;
        padding: 0 10px;
        border-radius: 2px;
        transition: .3s ease-in-out;
    }
    &:hover {
        a {
            color: $primary !important;
            font-weight: bold;
            background-color: $secondary
        }
    }
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'DM Serif Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: $primary;
    color: $white;
    padding: 30px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    a {
        color: $secondary;
        text-decoration: none;
    }
    .homepage {
        h1{
            font-size: 80px;
            margin-bottom: 0;
        }
        .source {
            font-size: 10px;
            position: relative;
            margin-bottom: 30px;
            width: calc(100vw - 60px);
            box-sizing: border-box;
            text-align: center;
            a {
                background-color: $primary;
                color: $secondary;
                padding: 0 10px;
                border-radius: 2px;
                transition: .3s ease-in-out;
            }
            &:hover {
                a {
                    color: $primary !important;
                    font-weight: bold;
                    background-color: $secondary
                }
            }
        }
        h2, h4 {
            font-family: 'Nunito', sans-serif;
        }
        .categories {
            display: flex;
            justify-content: space-between;
            transition: .3s ease-in-out;
            @media (max-width: 1024px) {
                background-color: transparent;
                display: block;
                border-top: 1px solid rgba(255, 255, 255, .5);
                border-bottom: 1px solid rgba(255, 255, 255, .5);
            }
            a {
                display: inline-flex;
                flex: 1;
                justify-content: center;
                padding: 10px;
                text-transform: capitalize;
                background-color: $secondary;
                color: $white;
                width: 200px;
                height: 200px;
                font-size: 25px;
                line-height: 180px;
                transition: .3s ease-in-out;
                box-sizing: border-box;
                animation: 1s pulsIn ease-out;
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
                @media (max-width: 1024px) {
                    background-color: transparent;
                    color: $secondary;
                    height: 100px;
                    font-size: 22px;
                    display: inline-block;
                    text-align: center;
                    padding: 0;
                    line-height: 100px;
                    box-sizing: content-box;
                    overflow: hidden;
                }
                &:hover {
                    background-color: $white;
                    font-weight: bold;
                    font-size: 30px;
                    padding: 10px 50px;
                    color: $primary;
                    @media (max-width: 1024px) {
                        background-color: $primary;
                        color: $white;
                        padding: 0;
                        font-size: 25px;
                        line-height: 94px;
                    }
                }
                @keyframes pulsIn {
                    0% {
                        transform: scale(1.5);
                        opacity: 0;
                    }
                    100% {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
        .headlines {
            h6 {
                margin: 10px 0 5px;
                display: inline;
                margin-right: 20px;
                &:after {
                    content: ',';
                }
                &:last-child:after {
                    content: '.';
                }
            }
        }
    }
    .category {
        display: flex;
        flex-flow:row wrap;
        > a, h1, h3 {
            width: 100%;
        }
        > h3 {
            font-family: 'Nunito', sans-serif;
            margin-bottom: 0;
        }
        > h1 {
            text-transform: capitalize;
            margin-top: 0;
        }
        .router-link-active {
            display: inline-block;
            background-color: transparent;
            color: $secondary;
            width: 200px;
            height: 50px;
            margin: 0 auto;
            line-height: 50px;
            border-radius: 10px;
            transition: .3s ease-in-out;
            animation: 1s pulsIn ease-out;
            &:hover {
                font-weight: bold;
                font-size: 20px;
            }
            @keyframes pulsIn {
                0% {
                    transform: scale(1.5);
                    opacity: 0;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        .loader {
            position: relative;
            margin-top: calc(50vh - 150px);
            width: 100%;
            text-align: center;
            .pulser {
                position: absolute;
                bottom: -40px;
                left: calc(50% - 50px);
                background-color: $secondary;
                opacity: .5;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                animation: alternate pulse 1s infinite;
            }
            @keyframes pulse {
                from {
                    transform: scale(1);
                    box-shadow: 0 0 15px rgba(0,0,0,.75);
                }
                to {
                    transform: scale(.5);
                    box-shadow: 0 0 5px rgba(0,0,0,.75);
                }
            }
        }
        .news-container {
            width: 100%;
            @media (min-width: 768px) {
                padding-left: 7px;
            }
            .news {
                width: 100%;
                margin-bottom: 10px;
                overflow: hidden;
                padding: 10px;
                box-sizing: border-box;
                background-color: $secondary;
                border-radius: 10px;
                transition: .3s ease-in;
                &:hover {
                    transform: scale(1.01);
                    @media (min-width: 550px) {
                        .article-image {
                            transition: 2s ease-in-out;
                            transform: scale(1.1);
                        }
                    }
                    @media (min-width: 1024px) {
                        .article-text {
                            transition: .3s ease-in;
                        }
                    }
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: calc((100% / 2) - 10px);
                    margin: 0 0 10px 0;
                }
                @media (min-width: 1024px) and (max-width: 1980px) {
                    width: calc((100% / 3) - 10px);
                    margin: 0 0 10px 0;
                }
                @media (min-width: 1981px) {
                    width: calc((100% / 4) - 30px);
                    margin: 0 10px 30px 0;
                }
                .article {
                    border: 1px solid transparent;
                    border-radius: 5px;
                    overflow: hidden;
                    &:hover {
                        @media (min-width: 550px) and (max-width: 1023px) {
                            .article-text {
                                transition: .3s ease-in-out;
                            }
                        }
                    }
                    &-link {
                        position: relative;
                        display: block;
                        .article-image {
                            width: 100%;
                            vertical-align: bottom;
                        }
                        img[data-src] {
                            filter: blur(.2em);
                        }
                        img {
                            filter: blur(0);
                            transition: filter .5s;
                        }
                        .article-text {
                            position: relative;
                            z-index: 1;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: auto;
                            text-align: left;
                            padding: 10px;
                            font-size: 22px;
                            color: $primary;
                            box-sizing: border-box;
                            @media (min-width: 1024px) {
                                position: relative;
                            }
                            &-content {}
                            &-description {}
                            &-author {
                                font-size: 10px;
                                margin-right: 10px;
                                font-family: 'Nunito', sans-serif;
                            }
                            &-date {
                                font-size: 10px;
                                font-family: 'Nunito', sans-serif;
                            }
                        }
                    }
                }
            }
        }
        .scroll {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border: 5px solid transparentize($primary, .5);
            border: 5px solid $primary;
            border-radius: 50%;
            background-color: $primary;
            background-color: $white;
            box-shadow: 0 0 20px transparentize($primary, 0);
            position: fixed;
            bottom: 50px;
            right: 50px;
            z-index: 5;
            animation: 1s puls ease-out;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -40%) rotate(-135deg);
                border: solid $secondary;
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 4px;
            }
            &:hover {
                transition: .3s ease-in-out;
                transform: scale(1.1);
            }
            @keyframes puls {
                0% {
                    transform: scale(10);
                    opacity: 0;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}
